th,td {
    border:solid 1px;
    font-size: 1.5rem;
  }
  table {
    border-collapse: collapse;
    width: 60%;
    height: 50px;
    margin: auto;
    text-align: center;
  }

  p{
    font-size: x-large;
    font-weight: bolder;
   }

  h1{
    padding: 20px;
     background-color: rgb(153, 65, 138);
     color: #fff;
     font-style: italic;
     text-align: center;
  }

  a{
    text-decoration: none;
    color: black;
   }
   
  .btn{
    border: none;
    border-radius: 10%;
    color: black;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color: black;
}